*.iml
.gradle
.kotlin
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
signing.properties
release-signing/
app/build
*.apk
*.ap_
*.aab
*.jks
*.keystore
*.log
*.zip
tmp_lsposed_log/
tmp_lsposed_log2/
tmp_lsposed_log3/
tmp_video_frames/
_lsposed_logs_*/
_lsposed_tar_*/
